.nav{
    width: 1200px;
    height: 400px;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    z-index: -9999;
    bottom: 0;
}

@media screen and (min-width:600px) and (max-width:2100px){
    body {background-color:skyblue;}
    }
@media screen and (min-width:2101px){
    body {background-color:#a35c8f;}
}
@media screen and (max-width:1200px){
   .p{
        font-size: 80px;
   }
}
html{
    max-width: 1800px;
}
.compost{
    width: 300px;
    height: 350px;
    background: url(../images/ljt01.png);
    background-position: -104px -54px;
    background-size: 500px 500px;
    position: absolute;
    top: 20px;
}
.trash{
    width: 264px;
    height: 350px;
    background: url(../images/ljt02.png);
    background-position: -153px -73px;
    background-size: 570px 505px;
    position: absolute;
    top: 20px;
    left: 400px;
}
.recycle{
    width: 270px;
    height: 350px;
    background: url(../images/ljt03.png);
    background-position: -33px -86px;
    background-size: 334px 514px;
    position: absolute;
    top: 20px;
    left: 800px;
}
.compost p{
    background-color: #8B8B8B;
    font-size: 20px;
    color: #fff;
    position: absolute;
    bottom: 41px;
    left: 96px;
    padding: 10px 10px;
}
.recycle p {
    position: absolute;
    bottom: 41px;
    left: 96px;
    color: #fff;
    font-size: 20px;
}
.trash p{
    position: absolute;
    bottom: 41px;
    left: 106px;
    color: #fff;
    font-size: 20px;
}
.index{
    width: 100px;
    height: 50px;
    background-color: pink;
    text-align: center;
    line-height: 50px;
    border-radius: 10px 10px 10px 10px;
    float: right;
    margin-top: 300px;
    margin-right: -100px;
}
.index a{
    color: #fff;
    text-decoration: none;
}
img{
    width: 80px;
    height: 80px;
}
.display_area{
    height: 320px;

}
.display_area li{
    width: 80px;
    height: 80px;
    position: absolute;
    list-style: none;
}

.lis1{
    left: 150px;
}
.lis2{
    left: 300px;
}
.lis3{
    left: 450px;
}
.lis4{
    left: 600px;
}
.lis5{
    left: 750px;
}
.lis6{
    left: 900px;
}
.lis7{
    left: 1050px;
}
.lis8{
    left: 1200px;
}
.lis9{
    left: 1350px;
}

.lis10{
    top: 150px;
    left: 150px;
}
.lis11{
    left: 300px;
    top: 150px;
}
.lis12{
    top: 150px;
    left: 450px;
}
.lis13{
    top: 150px;
    left: 600px;
}
.lis14{
    top: 150px;
    left: 750px;
}
.lis15{
    top: 150px;
    left: 900px;
}
.lis16{
    top: 150px;
    left: 1050px;
}
.lis17{
    top: 150px;
    left: 1200px;
}
.lis18{
    top: 150px;
    left: 1350px;
}

img{
    -webkit-user-drag: none;
}
.true p{
    color: green;
    position: absolute;
    top: 200px;
    left: 50%;
    font-size: 95px;
    transform: translateX(-50%);
    display: none;
}
.p{
    color: red;
    position: absolute;
    top: 240px;
    left: 50%;
    font-size: 70px;
    transform: translateX(-50%);
    display: none;
}
.display_area1{
    height: 300px;
    width: 1600px;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
}
.pz{
    width: 70px;
}
.yj{
    height: 60px;
    margin-top: 20px;
}
.pz1{
    width: 90px;
}